@import "./grid";
@import "./reset";
* {
  @include reset;
}
[class*="col-"] {
  padding: 15px;
  border: 5px solid white;
  float: left;
}

.orange div {
  background-color: orange;
}
.blue div {
  background-color: lightskyblue;
}
.green div {
  background-color: yellowgreen;
}
.grey div {
  background-color: lightgrey;
}

.navigation div {
  height: 16vh;
}

.footer div {
  height: 8vh;
}
